@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary-50: #dc8f86;
  --color-primary-100: #d06a5e;
  --color-primary-200: #ca584a;
  --color-primary-300: #b03e31;
  --color-primary-400: #9d372b;
  --color-primary-500: #893026;
  --color-primary-600: #762920;
  --color-primary-700: #62231b;
  --color-primary-800: #3b1510;
  --color-primary-900: #270e0b;

  --radius: 8px;
}

@theme inline {
  --color-background: #fff;
  --color-foreground: #000;

  --color-primary-50: #dc8f86;
  --color-primary-100: #d06a5e;
  --color-primary-200: #ca584a;
  --color-primary-300: #b03e31;
  --color-primary-400: #9d372b;
  --color-primary-500: #893026;
  --color-primary-600: #762920;
  --color-primary-700: #62231b;
  --color-primary-800: #3b1510;
  --color-primary-900: #270e0b;

  --background-image-image-1: url("/assets/images/background-1.jpg");
}

.dark {
  --color-background: #000;
  --color-foreground: #fff;

  --color-primary-50: #fff;
  --color-primary-100: #f2f2f2;
  --color-primary-200: #e6e6e6;
  --color-primary-300: #d9d9d9;
  --color-primary-400: #ccc;
  --color-primary-500: #bfbfbf;
  --color-primary-600: #b3b3b3;
  --color-primary-700: #a6a6a6;
  --color-primary-800: #999;
  --color-primary-900: #000;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: var(--font-geist-sans);
    user-select: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-geist-sans);
    overflow-x: hidden;
    width: 100%;
    transition: colors 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: colors 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: colors 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  ::-ms-scrollbar,
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  img {
    image-rendering: crisp-edges -moz-crisp-edges;
  }

  a,
  button {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  button:active {
    transform: scale(0.99);
  }

  button:disabled {
    cursor: not-allowed;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transaprent inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* link interaction */
.link {
  position: relative;
  transition: all 500ms;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: var(--color-background);
  transform-origin: left;
  transition: all 500ms;
}

.link.dark::before {
  background: var(--color-foreground);
}

.link:hover::before {
  width: 100%;
}

/* scroll area */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-500) var(--color-primary-100);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-primary-100);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: 6px;
  border: 2px solid var(--color-primary-100);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-600);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: var(--color-primary-100);
  border-radius: 20px;
}

/* hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
